# Boston Housing Exercise - Polynomial Regression

**Please import the Boston housing dataset, do some EDA, and clean data. Then calculate linear regression. After that please use Polynomial Regression. Calculate RMSE and R squared for each. Please use sklearn to implement Linear Regression**

In [13]:
# http://lib.stat.cmu.edu/datasets/boston

# Data Mining

In [47]:
import pandas as pd
df = pd.read_csv("http://lib.stat.cmu.edu/datasets/boston", sep="\s+", skiprows=22, header=None)

In [48]:
df1=df[::2]
df2=df[1::2]

In [49]:
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)

In [50]:
df_new=df1.join(df2, rsuffix="new")

In [57]:
df_new.head()

,index,0,1,2,3,4,5,6,7,8,...,1new,2new,3new,4new,5new,6new,7new,8new,9new,10new
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,...,4.98,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,...,9.14,21.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,...,4.03,34.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,...,2.94,33.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,...,5.33,36.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df_new.drop(labels=["3new","4new","5new","6new","7new","8new","9new","10new"], inplace=True, axis=1)

In [61]:
df_new.drop(labels=["index","indexnew"], inplace=True, axis=1)

In [62]:
columns=[ "CRIM",
         "ZN",      
 "INDUS",    
 "CHAS",   
 "NOX",     
 "RM",       
 "AGE",      
 "DIS",      
 "RAD",      
 "TAX",     
 "PTRATIO",  
 "B",        
 "LSTAT",  
 "MEDV",]

In [65]:
df_new.columns=columns
df_new.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [73]:
df_new.isnull().sum().sort_values(ascending=False)

MEDV       0
LSTAT      0
B          0
PTRATIO    0
TAX        0
RAD        0
DIS        0
AGE        0
RM         0
NOX        0
CHAS       0
INDUS      0
ZN         0
CRIM       0
dtype: int64

df_new.info()

In [77]:
df_new.nunique()

CRIM       504
ZN          26
INDUS       76
CHAS         2
NOX         81
RM         446
AGE        356
DIS        412
RAD          9
TAX         66
PTRATIO     46
B          357
LSTAT      455
MEDV       229
dtype: int64

In [79]:
df_new.MEDV.value_counts().head()

50.0    16
25.0     8
23.1     7
21.7     7
22.0     7
Name: MEDV, dtype: int64

price, rooms
price, lstat
price, age
price, dis?